@page
@model Zadanie_4.Pages.Admin.UsersListModel
@{
}

<h1>List of users</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Login</td>
                <td>Password</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sergiuszlazur@gmail.com</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>geraltwiedzmin@mail.com</td>
                <td>4316</td>
            </tr>
            <tr>
                <td>prywatny@email.com</td>
                <td>4321</td>
            </tr>
        </tbody>
    </table>
</div>
