@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="container">
    <h1>Loginy i hasła dostępu</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Login</td>
                <td>Password</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>admin@email.com</td>
                <td>admin</td>
            </tr>
            <tr>
                <td>Ania@email.com</td>
                <td>qwerty</td>
            </tr>
            <tr>
                <td>Marcin@email.com</td>
                <td>qwerty</td>
            </tr>
            <tr>
                <td>Jan@email.com</td>
                <td>qwerty</td>
            </tr>
        </tbody>
    </table>
</div>
